<h1> All Students </h1>
<div class="content">
  <table class="table table-dark" border="1">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">last Name</th>
        <th scope="col">age</th>
        <th scope="col">Track</th>
        <th scope="col">Is Graduated</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
    {%for st in students%}
      <tr>
        <td><a href = "student/{{st.id}}">{{st.fname}}</a></td>
        <td>{{st.lname}}</td>
        <td>{{st.age}}</td>
        <td>{{st.student_track}}</td>
        <td>{{st.is_graduated}}</td>
        <td><a href = "edit/{{st.id}}">Edit</a></td>
        <td><a href = "delete/{{st.id}}">delete</a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
</div>
